<section id="content">
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Clients</h1>
        <ul class="breadcrumb">
          <li>
            <a routerLink="">Clients</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a class="active" routerLink="/makyatraiteur/clients">Liste des clients</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="table-data">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ client.id }}</td>
            <td>{{ client.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</section>
